body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.hidden {
    display: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    /*margin-left: calc(50% - 300px);*/
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgb(26, 36, 44);
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 195, 172);
    color: white;
    font-size: 20px;
}

.circle {
    color:rgb(120, 57, 202);
    width: 70%;
    height: 70%;
}

.cross {
    color:rgb(196, 148, 60);
    width: 70%;
    height: 70%;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color:whitesmoke;
    text-transform: uppercase;
    font: 600 18px 'Courier New', Courier, monospace;
}